<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog - Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <ul class="list-post">
        {{#each posts as |post|}}
        <li>
        {{> edit-post post }}
        </li>
        {{/each}}
    </ul>

</div>
<footer> <a href= "/dashboard/new">New Post</a></footer>

    
</body>

</html>
