<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog - Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form class="new-post">
        <label for="post-title"></label>
        <button type="submit" class="btn" id="post-new">New post</button>
    </form>
    <ul class="list-post">
        {{#each posts as |post|}}
        <li>
        {{> post-info post }}
        </li>
        {{/each}}
    </ul>

</div>

    
</body>

</html>

<script src="/javascript/add-post.js"></script>